section>h3:hover{
	text-decoration:underline;
	cursor: pointer;

}
nav>h3{
	display: inline-block;
}

/* myHamburger */
.myHamburger{
    width: 24px;
    height: 21px;
    border: 0;
    border-top: 3px solid #000000;
    background: transparent;
    position: relative;
    transition: 0.3s all linear;
	margin-right: 15px;
	display: inline-block;
}

.myHamburger::before, .myHamburger::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    border-top: 3px solid #000000;
    transform: translateY(10px);
}

.myHamburger::after{
    transform: translateY(25px);
    transition: 0.3s all linear;
	top: -9px;
}

.myHamburger:hover {
    transform: rotate(45deg) translateY(5px);
    border-top: 3px solid transparent;
    
}

.myHamburger:hover::after {
    transform: rotate(-90deg) translateX(-15px);
}
/* /myHamburger */ 